<footer id="Footer" role="contentinfo">
    <div class="footer-top">
        <div class="container-footer">
            <div class="footer-grid">
                <aside id="text-2">
                    <h4>Immigration Consulting</h4>
                    <div>
                        <p>The details matter so it is very important to make a careful analysis of each case and its particular circumstances</p>
                    </div>
                </aside>
                <aside id="text-3">
                    <h4>Relocation</h4>
                    <div>
                        <p>We are passionate about making you feel at home</p>
                    </div>
                </aside>
                <aside id="text-4">
                    <h4>Real Estate</h4>
                    <div>
                        <p>We are in the best position to help you find the perfect housing solution for you or your family</p>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-content">
                <a id="back_to_top" href="#" aria-label="Back to top icon">
                    <i class="fas fa-chevron-up"></i>
                </a>
                
                <div class="copyright">
                    © 2024 Expat Mile | 
                    <a href="https://expatmile.com/privacy-policy/" target="_blank" rel="noopener">
                        <span>Privacy Policy</span>
                    </a>
                </div>
                
                <ul class="social-links">
                    <li>
                        <a target="_blank" href="https://www.facebook.com/expatmileportugal" title="Facebook" aria-label="Facebook icon">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.twitter.com/expatmile" title="X (Twitter)" aria-label="X (Twitter) icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://instagram.com/expatmileportugal" title="Instagram" aria-label="Instagram icon">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>